.auth-img{
    display: none;
}
.auth-container{
    justify-content: center;
}
input{
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 50px;
    font-weight: 600;
}
.small-para{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.675);
}